@import '../styles.scss';

:host {
    background: linear-gradient(to bottom, $color-white300, $color-white100);
    display: block;
    min-height: 100vh;
    box-shadow: inset 0 7px $color-violet500;
}

.content {
    width: 100%;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 20px;
    @media (min-width: 992px) {
        padding-top: 60px;
    }
}
