@import '../styles.scss';

:host {
    background-color: $color-white300;
    display: block;
    min-height: 100vh;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 20px;
    @media (min-width: 992px) {
        padding-top: 60px;
    }
}
