<div class="w-100 text-right" *ngIf="showHeaderNavigation">
  <a [routerLink]="['/', 'checklist']" class="btn p-0 btn-lg btn-link">My List&nbsp; <i class="fas fa-angle-right"></i></a>
</div>

<div class="text-center mt-5 mb-4">
  <h2 class="heading">
    Want to improve accessibility?
  </h2>
  <p class="paragraph">
    Knowing where to start can be difficult. We can provide you with a list to get you going.<br />Just select the roles that you think apply to you.
  </p>
</div>

<ul class="list mb-4">
  <li *ngFor="let role of roles" class="mb-1">
    <button class="option btn btn-primary" (click)="toggleRole(role.id)" [class.active]="roleStatus[role.id]">
      <div class="checkmark"></div>
      <div>
        {{role.description}}
      </div>
    </button>
    <!--
    <input type="checkbox" name="analysis" value="false">{{role.description}}
    -->
  </li>
</ul>

<div class="text-center mt-5 mb-4" *ngIf="!showHeaderNavigation">
  <a [class.disabled]="!selectedRoles.length" [routerLink]="['/', 'checklist']" class="btn btn-lg btn-primary">Proceed to My List</a>
</div>

