
<a [routerLink]="['/', 'setup']" class="btn p-0 btn-lg btn-link"><&nbsp; My Roles</a>

<div class="text-center mt-3 mb-4">
  <h2>My Checklist</h2>
  <p class="paragraph">This is everything you can do to improve accessibility in our applications.</p>
</div>

<button (click)="toggleExpand(task.name)" class="task btn btn-primary mb-3" *ngFor="let task of tasks" [class.expanded]="itemStatus[task.name]?.expanded" [class.special]="!task.criteria.length" [class.critical]="task?.level === 'A'" [class.optional]="task?.level === 'AAA'">
  <!--
  <div class="d-flex justify-content-between mb-1">
    <div class="d-flex align-items-start">
      <h3 class="heading-3">
        {{task.name}}
      </h3>
    </div>
    <div class="d-flex small align-items-center">
      <div class="text-secondary">
        WCAG {{task.criteria}} (Level {{criteria[task.criteria]?.level || '?'}})
      </div>
    </div>
  </div>
  -->
  <div class="d-flex mb-2 small justify-content-between align-items-center">
    <div class="d-flex align-items-start text-secondary">
      <h3 class="heading-3">
        {{task.name}}
      </h3>
      <div class="ml-1 btn btn-text text-secondary btn-sm">
        <i class="fas fa-fw fa-{{itemStatus[task.name]?.expanded ? 'caret-down' : 'caret-right'}}"></i>
      </div>
      <!--
      <div class="btn btn-text text-secondary btn-sm ml-3">
        Click to {{expanded[task.name] ? 'collapse' : 'expand'}}
      </div>
      -->
    </div>
    <div class="text-secondary" *ngIf="task.criteria.length">
      WCAG
      <span *ngFor="let _criteria of task.criteria; let i = index">
        <span *ngIf="i > 0">&middot;</span>
        {{_criteria}} ({{criteria[_criteria]?.level || '?'}})
      </span>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="(itemStatus[task.name]?.expanded ? full : basic); context: { task: task }">
  </ng-container>
</button>

<ng-template #full let-task="task">
  <ul>
    <li *ngFor="let text of task.tasks">
      <span [innerHTML]="text.text"></span>
      <ul *ngIf="text.subtasks">
        <li *ngFor="let _text of text.subtasks" [innerHTML]="_text.text"></li>
      </ul>
    </li>
  </ul>

  <hr />

  <div class="small">
    <ng-container *ngIf="task.failure">
      <div class="mt-2">
        <label class="label text-secondary">Potential ways to fail:</label>
        <div class="pl-4" [innerHTML]="task.failure"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="task.intent">
      <div class="mt-2">
        <label class="label text-secondary">Why is this important?</label>
        <div class="pl-4" [innerHTML]="task.intent"></div>
      </div>
    </ng-container>
    <div class="mt-2" *ngIf="task.criteria.length">
      <label class="label text-secondary">Further Reading:</label>
      <ng-container *ngFor="let _criteria of task.criteria">
        <ng-container *ngIf="criteria[_criteria]?.documents">
          <div class="pl-4">
            <a *ngIf="criteria[_criteria]?.documents.understanding" target="_blank" href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/{{criteria[task.criteria]?.documents.understanding}}.html" class="text-primary">
              <i class="fas fa-fw fa-link"></i> Understanding SC {{_criteria}}
            </a>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #basic let-task="task">
  <ul>
    <li *ngFor="let text of task.tasks" [innerHTML]="text.text"></li>
  </ul>
</ng-template>
