
<a [routerLink]="['/', 'setup']" class="btn p-0 btn-lg btn-link"><i class="fas fa-angle-left"></i>&nbsp; My Roles</a>

<div class="text-center mt-5 mb-4">
  <h2>My Checklist</h2>
  <p class="paragraph" *ngIf="selectedRoles.length; else allRoles">
    This is everything you can do to improve accessibility in our applications, based on your chosen roles
    (<span *ngFor="let role of selectedRolesByName; let i = index; let last = last"><span *ngIf="i > 0 && !last || i > 1">, </span><span *ngIf="i > 0 && last"> and </span>{{role}}</span>).
  </p>
  <ng-template #allRoles>
    <p class="paragraph">
      This is everything you can do to help improve accessibility in our applications.
      <br/>
      <a [routerLink]="['/', 'setup']">Select one or more roles</a> to see a more personalized list.
    </p>
  </ng-template>
</div>

<div class="pb-3 mt-5 row align-items-center justify-content-between text-center">
  <div class="col-sm-auto my-2">
    <span *ngIf="tasks.length < TASKS.length + 1">
      Showing <b>{{tasks.length}}</b> tasks out of {{TASKS.length + 1}}
    </span>
    <span *ngIf="tasks.length >= TASKS.length + 1">
      Showing all <b>{{tasks.length}}</b> tasks
    </span>
  </div>
  <div class="col-sm-auto">
    <button class="btn btn-outline-primary" (click)="expandAll()">Expand All</button>
    &nbsp;
    <button class="btn btn-outline-primary" (click)="collapseAll()">Collapse All</button>
  </div>
</div>

<div class="pb-5">
  <div class="task mb-4" *ngFor="let task of tasks; let i = index; trackBy: trackByName" [attr.name]="task.name | kebab" [attr.id]="task.name | kebab"
      [class.expanded]="itemStatus[task.name]?.expanded" [class.special]="!task.criteria.length" [class.critical]="task?.level === 'A'" [class.optional]="task?.level === 'AAA'">
    <div class="d-flex mb-2 small justify-content-between align-items-start">
      <div class="text-secondary w-100">
        <h3 class="heading-3">
          <span class="task-number">{{i+1}}.</span>
          <span *ngIf="task?.level === 'AAA'"> Optional:</span>
          {{task.name}}
          <a [routerLink]="['/', 'checklist']" fragment="{{task.name | kebab}}" class="anchor-link text-primary">&nbsp;#&nbsp;</a>
        </h3>
        <div *ngIf="getRelated(task).length">
          Related to
          <span *ngFor="let otherTask of getRelated(task); let i = index; trackBy: trackByName">
            <span *ngIf="i > 0"> &middot; </span>
            <a class="text-weight-bold text-secondary" [routerLink]="['/', 'checklist']" fragment="{{otherTask.name | kebab}}">
              {{otherTask.id + 1}}: {{otherTask?.name}}
            </a>
          </span>
        </div>
        <div *ngIf="getEncapsulatedBy(task).length">
          Encapsulated by
          <span *ngFor="let otherTask of getEncapsulatedBy(task); let i = index; trackBy: trackByName">
            <span *ngIf="i > 0"> &middot; </span>
            <a class="text-weight-bold text-secondary" [routerLink]="['/', 'checklist']" fragment="{{otherTask.name | kebab}}">
              {{otherTask.id + 1}}: {{otherTask?.name}}
            </a>
          </span>
        </div>
      </div>
      <button (click)="toggleExpand(task.name)" class="expand-btn ml-2 text-secondary btn btn-sm">
        <i class="fas fa-fw fa-{{!itemStatus[task.name]?.expanded ? 'chevron-up' : 'chevron-down'}}"></i>
      </button>
    </div>
    <ng-container *ngTemplateOutlet="(itemStatus[task.name]?.expanded ? full : basic); context: { task: task }">
    </ng-container>
  </div>

  <!--
  <div *ngIf="missingCriteria.length" class="mt-3">
    This document is a work in progress, and is missing tasks for {{missingCriteria.length}} optional WCAG criteria:
    <ul>
      <li *ngFor="let criteria of missingCriteria">
        <a class="text-secondary" href="https://www.w3.org/TR/WCAG21/#{{criteria[criteria]?.criteriaId || (criteria[_criteria]?.name | kebab)}}">{{criteria.id}} ({{criteria.level}}): {{criteria.name}}</a>
      </li>
    </ul>
  </div>
  -->
</div>

<ng-template #full let-task="task">
  <ul>
    <li *ngFor="let text of task.tasks; trackBy: trackByText">
      <span [innerHTML]="text.text"></span>
      <ul *ngIf="text.subtasks">
        <li *ngFor="let _text of text.subtasks; trackBy: trackByText" [innerHTML]="_text.text"></li>
      </ul>
    </li>
  </ul>

  <hr />

  <div class="small">
    <div class="text-secondary mt-2" *ngIf="task.criteria.length">
      <label class="label text-secondary">Relevant Criteria:</label>
      <div class="pl-4">
        <span *ngFor="let _criteria of task.criteria; let i = index">
          <span *ngIf="i > 0"> &middot; </span>
          <a target="_blank" class="btn-link text-secondary" href="https://www.w3.org/TR/WCAG21/#{{criteria[_criteria]?.criteriaId || (criteria[_criteria]?.name | kebab)}}">
            {{_criteria}} ({{criteria[_criteria]?.level || '?'}}):
            {{criteria[_criteria]?.name}}
          </a>
        </span>
      </div>
    </div>
    <ng-container *ngIf="task.failure">
      <div class="mt-2">
        <label class="label text-secondary">Potential ways to fail:</label>
        <div class="pl-4" [innerHTML]="task.failure"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="task.intent">
      <div class="mt-2">
        <label class="label text-secondary">Why is this important?</label>
        <div class="pl-4" [innerHTML]="task.intent"></div>
      </div>
    </ng-container>
    <div class="mt-2" *ngIf="task.criteria.length || task.documents">
      <label class="label text-secondary">Further Reading:</label>
      <div class="pl-4">
        <ng-container *ngFor="let _criteria of task.criteria">
          <ng-container>
            <a class="mr-2 d-inline-block" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/{{criteria[_criteria]?.criteriaId || (criteria[_criteria]?.name | kebab)}}.html">
              <i class="fas fa-fw fa-link"></i> Understanding {{_criteria}}
            </a>
            <a class="mr-2 d-inline-block" target="_blank" href="https://www.w3.org/WAI/WCAG21/quickref/?showtechniques={{_criteria | removePeriods}}#{{criteria[task.criteria]?.criteriaId || (criteria[_criteria]?.name | kebab)}}">
              <i class="fas fa-fw fa-link"></i> How to Meet {{_criteria}}
            </a>
          </ng-container>
        </ng-container>
        <a *ngFor="let link of task.documents; trackBy: trackByHref" class="mr-2 d-inline-block" target="_blank" href="{{link.href}}">
          <i class="fas fa-fw fa-link"></i> {{link.text}}
        </a>
      </div>
    </div>
    <ng-container *ngIf="selectedRoles.length > 1 && task.criteria.length">
      <div class="mt-2 text-right text-secondary">
        <div>
          <span *ngFor="let role of getApplicableRoles(selectedRoles, task.criteria); let i = index; let last = last"
            ><span *ngIf="i > 0">, </span>{{role}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #basic let-task="task">
  <ul>
    <li *ngFor="let text of task.tasks">
      <span [innerHTML]="text.text"></span>
      <!--
        <button (click)="toggleExpand(task.name)" class="small btn btn-sm d-inline-block ml-2 text-secondary" *ngIf="text.subtasks"><i class="fas small fa-ellipsis-h"></i></button>
      -->
    </li>
  </ul>
</ng-template>
